***
SQLite
critter
    動物の名前。主キー（可変長文字列）
count
    その動物の現在の個体数（整数）
damages
    動物とのふれあいによる現在の損失額（整数）
***

In [6]:
import sqlite3
conn = sqlite3.connect('enterprise.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE zoo (critter VARCHAR(20)
PRIMARY KEY, count INT, damages FLOAT)''')

In [7]:
curs.execute('INSERT INTO zoo VALUES("duck", 5, 0.0)')

In [8]:
curs.execute('INSERT INTO zoo VALUES("bear", 2, 1000.0)')

テーブルの挿入には、プレースホルダーを使った安全な方法がある。

In [10]:
ins = 'INSERT INTO zoo (critter, count, damages) VALUES(?, ?, ?)'
curs.execute(ins, ('weasel', 1, 2000.0))

値の取り出し

In [11]:
curs.execute('SELECT * FROM zoo')
rows = curs.fetchall()
print(rows)

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

個体数順にソート

In [13]:
curs.execute('SELECT * FROM zoo ORDER BY count')
curs.fetchall()

[('weasel', 1, 2000.0), ('bear', 2, 1000.0), ('duck', 5, 0.0)]

順序を降順へ

In [15]:
curs.execute('SELECT * FROM zoo ORDER BY count DESC')
curs.fetchall()

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

損失の大きい動物は？

In [16]:
curs.execute('''SELECT * FROM zoo WHERE
    damages = (SELECT MAX(damages) FROM zoo)''')
curs.fetchall()

[('weasel', 1, 2000.0)]

# SQLiteから離れる前にはクリーンアップ処理が必要である。
接続とカーソルを開いたら、使い終わったときにとじなければならない。

In [18]:
curs.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.