<a href="https://colab.research.google.com/github/haloyukka/python/blob/master/_MyTips/tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

原文<br>
100 Helpful Python Tips You Can Learn Before Finishing Your Morning Coffee<br>
https://towardsdatascience.com/100-helpful-python-tips-you-can-learn-before-finishing-your-morning-coffee-eb9c39e68958


朝飯前に学べる！便利なPythonのヒント100選【前編】<br>
https://qiita.com/baby-degu/items/05cf809d4d992923020d

朝飯前に学べる！便利なPythonのヒント100選【後編】<br>
https://qiita.com/baby-degu/items/532bea7be058c35f61a8

In [ ]:
# 1. “Else” condition inside a “for” loop
numbers = [2, 4, 6, 8, 1]

for number in numbers:
    if number % 2 == 1:
        print(number)
        break
else:
    print("No odd numbers")

1

In [ ]:
# 2. Get elements from a list using named variables
my_list = [1, 2, 3, 4, 5]
one, two, three, four, five = my_list
print(two)

2

In [ ]:
# 3. Get n largest or n smallest elements in a list using the module heapq
import heapq

scores = [51, 33, 64, 87, 91, 75, 15, 49, 33, 82]

print(heapq.nlargest(3, scores))  # [91, 87, 82]
print(heapq.nsmallest(5, scores))  # [15, 33, 33, 49, 51]

[91, 87, 82]
[15, 33, 33, 49, 51]

In [ ]:
# 4. Pass values from a list as method arguments
# We can extract all elements of a list using “*”:
# This can be helpful in situations where we want to pass all elements of a list as method arguments:
my_list = [1, 2, 3, 4]
print(my_list)  # [1, 2, 3, 4]

print(*my_list)  # 1 2 3 4


def sum_of_elements(*arg):
    total = 0
    for i in arg:
        total += i

    return total


result = sum_of_elements(*my_list)
print(result)  # 10

[1, 2, 3, 4]
1 2 3 4
10

In [ ]:
# 5. Get all the elements in the middle of the list

_, *elements_in_the_middle, _ = [1, 2, 3, 4, 5, 6, 7, 8]
print(elements_in_the_middle)  # [2, 3, 4, 5, 6, 7]

[2, 3, 4, 5, 6, 7]

In [ ]:
# 6. Assign multiple variables in just one line
one, two, three, four = 1, 2, 3, 4

In [ ]:
# 7. List comprehensions
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even_numbers = [number for number in numbers if number % 2 == 0]

print(even_numbers)  # [2, 4, 6, 8]

dictionary = {'first_element': 1, 'second_element': 2,
              'third_element': 3, 'fourth_element': 4}
odd_value_elements = {key: num for (key, num) in
                      dictionary.items() if num % 2 == 1}
print(odd_value_elements)  # {'first_element': 1, 'third_element': 3}

[2, 4, 6, 8]
{'first_element': 1, 'third_element': 3}

In [ ]:
# 8. Enumerate related items of the same concept via Enum
# An Enum is a set of symbolic names bound to unique values.
# They are similar to global variables, but they offer a more useful repr(), grouping, type-safety, and a few other features.

from enum import Enum


class Status(Enum):
    NO_STATUS = -1
    NOT_STARTED = 0
    IN_PROGRESS = 1
    COMPLETED = 2


print(Status.IN_PROGRESS.name)  # IN_PROGRESS
print(Status.COMPLETED.value)  # 2

IN_PROGRESS
2

In [ ]:
# 9. Repeat strings without looping
string = "Abc"

print(string * 5)  # AbcAbcAbcAbcAbc

AbcAbcAbcAbcAbc

In [ ]:
# 10. Compare 3 numbers just like in Math
x = 3
print(1 < x < 10)  # True

True

In [ ]:
# 11. Merge dictionaries in a single readable line
# (Python3.9)

first_dictionary = {'name': 'Fatos', 'location': 'Munich'}
second_dictionary = {'name': 'Fatos', 'surname': 'Morina',
                     'location': 'Bavaria, Munich'}
result = first_dictionary | second_dictionary
print(result)
# {'name': 'Fatos', 'location': 'Bavaria, Munich', 'surname': 'Morina'}

In [ ]:
# 12. Find the index of an element in a tuple
books = ('Atomic habits', 'Ego is the enemy', 'Outliers', 'Mastery')

print(books.index('Mastery'))   # 3

3

In [ ]:
# 13. Convert a string into a list of strings

import ast


def string_to_list(string):
    return ast.literal_eval(string)


string = "[[1, 2, 3],[4, 5, 6]]"
my_list = string_to_list(string)
print(my_list)  # [[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]

In [ ]:
# 14. Avoid “trivial” mistakes by using named parameters


def subtract(a, b):
    return a - b


# Order trivial mistake
print((subtract(1, 3)))  # -2
print((subtract(3, 1)))  # 2

# Named parameter version
print((subtract(a=1, b=3)))  # -2
print((subtract(b=3, a=1)))  # -2

-2
2
-2
-2

In [ ]:
# 15. Print multiple elements with a single print() statement
print(1, 2, 3, "a", "z", "this is here", "here is something else")

1 2 3 a z this is here here is something else

In [ ]:
# 16. Print multiple elements in the same line
print("Hello", end="")
print("World")  # HelloWorld
print("Hello", end=" ")
print("World")  # Hello World
print('words', 'with', 'commas', 'in', 'between', sep=', ')
# words, with, commas, in, between

HelloWorld
Hello World
words, with, commas, in, between

In [ ]:
# 17. Print multiple values with a custom separator in between each value
print("29", "01", "2022", sep="/")  # 29/01/2022
print("name", "domain.com", sep="@")  # name@domain.com

29/01/2022
name@domain.com

In [ ]:
# 18. You cannot use a number at the beginning of the name of a variable
four_letters = "abcd"  # this works
# 4_letters = "abcd"  # this doesn’t work

In [ ]:
# 19. You cannot use an operator at the beginning of the name of a variable
# +variable = “abcd”  # this doesn’t work

In [ ]:
# 20. You cannot have 0 as the first digit in a number
# number = 0110 # this doesn't work

In [ ]:
# 21. You can use the underscore character anywhere in the name of a variable
a______b = "abcd"  # this works
_a_b_c_d = "abcd"  # this also works

In [ ]:
# 22. You can separate big numbers with the underscore
# This way it can be easier to read them.

print(1_000_000_000)  # 1000000000
print(1_234_567)  # 1234567

1000000000
1234567

In [ ]:
# 23. Reverse the ordering of a list

my_list = ['a', 'b', 'c', 'd']
my_list.reverse()
print(my_list)  # ['d', 'c', 'b', 'a']

['d', 'c', 'b', 'a']

In [ ]:
# 24. Slice a string using a step function
my_string = "This is just a sentence"
print(my_string[0:5])  # This

# Take three steps forward
print(my_string[0:10:3])  # Tsse

This
Tssu

In [ ]:
# 25. Reverse slicing
my_string = "This is just a sentence"
print(my_string[10:0:-1])  # suj si sih

# Take two steps forward
print(my_string[10:0:-2])  # sjs i

suj si sih
sjs i

In [ ]:
# 26. Partial Slicing with just the beginning or ending index
my_string = "This is just a sentence"
print(my_string[4:])  # is just a sentence

print(my_string[:3])  # Thi

 is just a sentence
Thi

In [ ]:
# 27. Floor division
print(3 / 2)  # 1.5
print(3 // 2)  # 1

1.5
1

In [ ]:
# 28. Difference between == and “is”
# “is” checks whether 2 variables are pointing to the same object in memory.
# “==” compares the equality of values that these 2 objects hold.

first_list = [1, 2, 3]
second_list = [1, 2, 3]

# Is their actual value the same?
print(first_list == second_list)  # True

# Are they pointing to the same object in memory
print(first_list is second_list)
# False, since they have same values, but in different objects in memory

third_list = first_list

print(third_list is first_list)
# True, since both point to the same object in memory

True
False
True

In [ ]:
# 29. Merge 2 dictionaries quickly
dictionary_one = {"a": 1, "b": 2}
dictionary_two = {"c": 3, "d": 4}

merged = {**dictionary_one, **dictionary_two}

print(merged)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Check whether a string is larger than another string
first = "abc"
second = "def"
print(first < second)  # True
second = "ab"
print(first < second)  # False

True
False

In [ ]:
# 31. Check whether a string starts with a particular character without using the index 0
my_string = "abcdef"
print(my_string.startswith("b"))  # False

False

In [ ]:
# 32. Find the unique id of a variable using id()
print(id(1))  # 139756189194544
print(id(2))  # 139756189194576
print(id("string"))  # 139756187036656

11256064
11256096
140321215172528

In [ ]:
# 33. Integers, floats, strings, booleans, and tuples are immutable
# When we assign a variable to an immutable type such as integers, floats, strings, booleans, and tuples, then this variable points to an object in memory.
# In case we assign to that variable another value, the original object is still in memory, but the variable pointing to it is lost:

number = 1
print(id(number))  # 139756189194544
print(id(1))  # 139756189194544

number = 3
print(id(number))  # 139756189194608
print(id(1))  # 139756189194544

11256064
11256064
11256128
11256064

In [ ]:
# 34. Strings and tuples are immutable

name = "Fatos"
print(id(name))  # 4422282544
name = "fatos"
print(id(name))  # 4422346608

my_tuple = (1, 2, 3, 4)
print(id(my_tuple))  # 4499290128

my_tuple = ('a', 'b')
print(id(my_tuple))  # 4498867584

140320808728752
140320808670640
140320808811600
140320809718480

In [ ]:
# 35. Lists, sets, and dictionaries are mutable
# This means that we can change the object without losing binding to it:
cities = ["Munich", "Zurich", "London"]
print(id(cities))  # 4482699712

cities.append("Berlin")
print(id(cities))  # 4482699712

my_set = {1, 2, 3, 4}
print(id(my_set))  # 4352726176
my_set.add(5)
print(id(my_set))  # 4352726176

140320808760896
140320808760896
140320881260016
140320881260016

In [ ]:
# 36. You can turn a set into an immutable set
my_set = frozenset(['a', 'b', 'c', 'd'])
# my_set.add("a") # Error

In [ ]:
# 37. An “if-elif” block can exist without the else block at the end


def check_number(number):
    if number > 0:
        return "Positive"
    elif number == 0:
        return "Zero"

    return "Negative"


print(check_number(1))  # Positive

Positive

In [ ]:
# 38. Check whether 2 strings are anagrams using sorted()


def check_if_anagram(first_word, second_word):
    first_word = first_word.lower()
    second_word = second_word.lower()
    return sorted(first_word) == sorted(second_word)


print(check_if_anagram("testinG", "Testing"))  # True
print(check_if_anagram("Here", "Rehe"))  # True
print(check_if_anagram("Know", "Now"))  # False

True
True
False

In [ ]:
# 39. Get the value of a character in Unicode
print(ord("A"))  # 65
print(ord("B"))  # 66
print(ord("C"))  # 66
print(ord("a"))  # 97

65
66
67
97

In [ ]:
# 40. Get keys of a dictionary in a single line
dictionary = {"a": 1, "b": 2, "c": 3}

keys = dictionary.keys()

print(list(keys))  # ['a', 'b', 'c']

['a', 'b', 'c']

In [ ]:
# 41. Get values of a dictionary in a single line

dictionary = {"a": 1, "b": 2, "c": 3}

values = dictionary.values()

print(list(values))  # [1, 2, 3]

[1, 2, 3]

In [ ]:
# 42. Swap keys and values of a dictionary

dictionary = {"a": 1, "b": 2, "c": 3}

reversed_dictionary = {j: i for i, j in dictionary.items()}

print(reversed_dictionary)  # {1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 43. You can convert a boolean value into a number
print(int(False))  # 0
print(float(True))  # 1.0

0
1.0

In [ ]:
# 44. You can use boolean values in arithmetic operations
x = 10
y = 12
result = (x - False) / (y * True)
print(result)  # 0.8333333333333334

0.8333333333333334

In [ ]:
# 45. You can convert any data type into a boolean value
print(bool(.0))  # False
print(bool(3))  # True
print(bool("-"))  # True
print(bool("string"))  # True
print(bool(" "))  # True

In [ ]:
# 46. Convert a value into a complex number
print(complex(10, 2))  # (10+2j)
# You can also convert a number into a hexadecimal number:
print(hex(11))  # 0xb

(10+2j)
0xb

In [ ]:
# 47. Add a value in the first position in a list
# If you use append(), you are going to insert new values from the right.
# We can also use insert() to specify the index and the element where we want to insert this new element.
# In our case, we want to insert it in the first position, so we use 0 as the index:

my_list = [3, 4, 5]

my_list.append(6)
my_list.insert(0, 2)
print(my_list)  # [2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]

In [ ]:
# 48. Lambda functions can only be in one line

# comparison = lambda x: if x > 3:
#                     print("x > 3")
#                 else:
#                     print("x is not greater than 3")

# result = lambda x: if x > 3:

In [ ]:
# 49. Conditionals statements in lambda should always include the “else” part

# comparison = lambda x: "x > 3" if x > 3

In [ ]:
# 50. filter() returns a new object
my_list = [1, 2, 3, 4]

odd = filter(lambda x: x % 2 == 1, my_list)

print(list(odd))   # [1, 3]
print(my_list)  # [1, 2, 3, 4]

[1, 3]
[1, 2, 3, 4]

In [ ]:
# 51. map() returns a new object

my_list = [1, 2, 3, 4]

squared = map(lambda x: x ** 2, my_list)

print(list(squared))   # [1, 4, 9, 16]
print(my_list)  # [1, 2, 3, 4]

[1, 4, 9, 16]
[1, 2, 3, 4]

In [ ]:
# 52. range() includes a step parameter that may not be known that much
for number in range(1, 10, 3):
    print(number, end=" ")
# 1 4 7

1 4 7

In [ ]:
# 53. range() starts by default at 0


def range_with_zero(number):
    for i in range(0, number):
        print(i, end=' ')


def range_with_no_zero(number):
    for i in range(number):
        print(i, end=' ')


range_with_zero(3)  # 0 1 2
range_with_no_zero(3)  # 0 1 2

0 1 2 0 1 2

In [ ]:
# 54. You don’t need to compare the length with 0


def get_element_with_comparison(my_list):
    if len(my_list) > 0:
        return my_list[0]


def get_first_element(my_list):
    if len(my_list):
        return my_list[0]


elements = [1, 2, 3, 4]
first_result = get_element_with_comparison(elements)
second_result = get_first_element(elements)

print(first_result == second_result)  # True

True

In [ ]:
# 55. You can define the same method multiple times inside the same scope
# However, only the last one is called, since it overrides previous ones.


def get_address():
    return "First address"


def get_address():
    return "Second address"


def get_address():
    return "Third address"


print(get_address())  # Third address

Third address

In [ ]:
# 56. You can access private properties even outside their intended scope


class Engineer:
    def __init__(self, name):
        self.name = name
        self.__starting_salary = 62000


dain = Engineer('Dain')
print(dain._Engineer__starting_salary)  # 62000

In [ ]:
# 57. Check the memory usage of an object
import sys

print(sys.getsizeof("bitcoin"))  # 56

56

In [ ]:
# 58. You can define a method that can be called with as many parameters as you want


def get_sum(*arguments):
    result = 0
    for i in arguments:
        result += i
    return result


print(get_sum(1, 2, 3))  # 6
print(get_sum(1, 2, 3, 4, 5))  # 15
print(get_sum(1, 2, 3, 4, 5, 6, 7))  # 28

6
15
28

In [ ]:
# 59. You can call the parent class’s initializer using super() or parent class’s name


class Parent:
    def __init__(self, city, address):
        self.city = city
        self.address = address


class Child(Parent):
    def __init__(self, city, address, university):
        super().__init__(city, address)
        self.university = university


child = Child('Zürich', 'Rämistrasse 101', 'ETH Zürich')
print(child.university)  # ETH Zürich

# Note that calls to parent initializers using __init__() and super() can only be used inside the child class’s initializer.

In [ ]:
# 60. You can redefine the “+” operator inside your own classes
print(10 + 1)  # Adding two integers using '+'
print('first' + 'second')  # Merging two strings '+'


class Expenses:
    def __init__(self, rent, groceries):
        self.rent = rent
        self.groceries = groceries

    def __add__(self, other):
        return Expenses(self.rent + other.rent,
                        self.groceries + other.groceries)


april_expenses = Expenses(1000, 200)
may_expenses = Expenses(1000, 300)

total_expenses = april_expenses + may_expenses
print(total_expenses.rent)  # 2000
print(total_expenses.groceries)  # 500

In [ ]:
# 61. You can also redefine the “<” and “==” operators inside your own classes


class Game:
    def __init__(self, score):
        self.score = score

    def __lt__(self, other):
        return self.score < other.score


first = Game(1)
second = Game(2)

print(first < second)  # True


class Journey:
    def __init__(self, location, destination, duration):
        self.location = location
        self.destination = destination
        self.duration = duration

    def __eq__(self, other):
        return ((self.location == other.location) and
                (self.destination == other.destination) and
                (self.duration == other.duration))


first = Journey('Location A', 'Destination A', '30min')
second = Journey('Location B', 'Destination B', '30min')

print(first == second)

# You can also analogously define:
# __sub__() for -
# __mul__() for *
# __truediv__() for /
# __ne__() for !=
# __ge__() for >=
# __gt__() for >

True
False

In [ ]:
# 62. You can define a custom printable version for an object of a class


class Rectangle:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def __repr__(self):
        return repr('Rectangle with area=' + str(self.a * self.b))


print(Rectangle(3, 4))  # 'Rectangle with area=12'

'Rectangle with area=12'

In [ ]:
# 63. Swap cases of characters in a string
string = "This is just a sentence."
result = string.swapcase()
print(result)  # tHIS IS JUST A SENTENCE.

tHIS IS JUST A SENTENCE.

In [ ]:
# 64. Check if all characters are white spaces in a string

# string = "  "
string = "　"
result = string.isspace()
print(result)  # True

True

In [ ]:
# 65. Check if all characters in a string are either alphabets or numbers
name = "Password"
print(name.isalnum())  # True, because all characters are alphabets
name = "Secure Password "
print(name.isalnum())  # False, because it contains whitespaces
name = "S3cur3P4ssw0rd"
print(name.isalnum())  # True
name = "133"
print(name.isalnum())  # True, because all characters are numbers

True
False
True
True

In [ ]:
# 66. Check if all characters in a string are alphabets

string = "Name"
print(string.isalpha())  # True
string = "Firstname Lastname"
print(string.isalpha())  # False, because it contains whitespace
string = "P4ssw0rd"
print(string.isalpha())  # False, because it contains numbers

True
False
False

In [ ]:
# 67. Remove characters from the right based on the argument

string = "This is a sentence with       "
# Remove trailing spaces from the right
print(string.rstrip())  # "This is a sentence with"
string = "this here is a sentence…..,,,,aaaaasd"
print(string.rstrip(".,dsa"))  # "this here is a sentence"

# You can similarly remove characters from the left based on the argument:

string = "ffffffffFirst"
print(string.lstrip("f"))  # First

This is a sentence with
this here is a sentence…
First

In [ ]:
# 68. Check if a string represents a number

string = "seven"
print(string.isdigit())  # False
string = "1337"
print(string.isdigit())  # True
string = "5a"
print(string.isdigit())  # False, because it contains the character 'a'
string = "2**5"
print(string.isdigit())  # False

False
True
False
False

In [ ]:
# 69. Check if a string represents a Chinese number
# 42673 in Arabic numerals
string = "四二六七三"

print(string.isdigit())  # False
print(string.isnumeric())  # True

False
True

In [ ]:
# 70. Check if a string has all its words starting with an uppercase character
string = "This is a sentence"
print(string.istitle())  # False

string = "10 Python Tips"
print(string.istitle())  # True

string = "How to Print A String in Python"
# False, because of the first characters being lowercase in "to" and "in"
print(string.istitle())

string = "PYTHON"
print(string.istitle())  # False. It's titlelized version is "Python"

False
True
False
False

In [ ]:
# 71. We can use negative indexes in tuples too

numbers = (1, 2, 3, 4)

print(numbers[-1])  # 4
print(numbers[-4])  # 1

4
1

In [ ]:
# 72. Nest a list and a tuple inside a tuple

mixed_tuple = (("a" * 10, 3, 4), ['first', 'second', 'third'])

print(mixed_tuple[1])  # ['first', 'second', 'third']
print(mixed_tuple[0])  # ('aaaaaaaaaa', 3, 4)

['first', 'second', 'third']
('aaaaaaaaaa', 3, 4)

In [ ]:
# 73. Quickly count the number of times an element appears in a list that satisfies a condition

names = ["Besim", "Albert", "Besim", "Fisnik", "Meriton"]

print(names.count("Besim"))  # 2

2

In [ ]:
# 74. You can easily get the last n elements using slice()

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
slicing = slice(-4, None)
# Getting the last 4 elements from the list
print(my_list[slicing])  # [7, 8, 9, 10]
# Getting only the third element starting from the right
print(my_list[-3])  # 8

string = "Data Science"
# start = 1, stop = None (don't stop anywhere), step = 1
# contains 1, 3 and 5 indices
slice_object = slice(5, None)
print(string[slice_object])   # Science

[7, 8, 9, 10]
8
Science

In [ ]:
# 75. Count the number of times an element appears in a tuple

my_tuple = ('a', 1, 'f', 'a', 5, 'a')

print(my_tuple.count('a'))  # 3

3

In [ ]:
# 76. Get the index of an element in a tuple
my_tuple = ('a', 1, 'f', 'a', 5, 'a')
print(my_tuple.index('f'))  # 2

2

In [ ]:
# 77. Get sub-tuples by making jumps
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(my_tuple[::3])  # (1, 4, 7, 10)

(1, 4, 7, 10)

In [ ]:
# 78. Get sub-tuples starting from an index
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(my_tuple[3:])  # (4, 5, 6, 7, 8, 9, 10)

(4, 5, 6, 7, 8, 9, 10)

In [ ]:
# 79. Remove all elements from a list, set, or dictionary

my_list = [1, 2, 3, 4]
my_list.clear()
print(my_list)  # []

my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # set()

my_dict = {"a": 1, "b": 2}
my_dict.clear()
print(my_dict)  # {}

[]
set()
{}

In [ ]:
# 80. Join 2 sets
first_set = {4, 5, 6}
second_set = {1, 2, 3}

print(first_set.union(second_set))  # {1, 2, 3, 4, 5, 6}

first_set = {4, 5, 6}
second_set = {1, 2, 3}

first_set.update(second_set)

print(first_set)  # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
# 81. Condition inside the print function


def is_positive(number):
    print("Positive" if number > 0 else "Negative")  # Positive


is_positive(-3)

Negative

In [ ]:
# 82. Multiple conditions at a single if-statement
math_points = 51
biology_points = 78
physics_points = 56
history_points = 72

my_conditions = [math_points > 50, biology_points > 50,
                 physics_points > 50, history_points > 50]

if all(my_conditions):
    print("Congratulations! You have passed all of the exams.")
else:
    print("I am sorry, but it seems that you have to repeat at least one exam.")
# Congratulations! You have passed all of the exams.

Congratulations! You have passed all of the exams.

In [ ]:
# 83. At least one condition is met out of many in a single if-statement
math_points = 51
biology_points = 78
physics_points = 56
history_points = 72

my_conditions = [math_points > 50, biology_points > 50,
                 physics_points > 50, history_points > 50]

if any(my_conditions):
    print("Congratulations! You have passed all of the exams.")
else:
    print("I am sorry, but it seems that you have to repeat at least one exam.")
# Congratulations! You have passed all of the exams.

Congratulations! You have passed all of the exams.

In [ ]:
# 84. Any non-empty string is evaluated to True
print(bool("Non empty"))  # True
print(bool(""))  # False

True
False

In [ ]:
# 85. Any non-empty list, tuple, or dictionary is evaluated to True
print(bool([]))  # False
print(bool(set([])))  # False

print(bool({}))  # False
print(bool({"a": 1}))  # True

False
False
False
True

In [ ]:
# 86. Other values that evaluate to False are None, “False” and the number 0
print(bool(False))  # False
print(bool(None))  # False
print(bool(0))  # False

False
False
False

In [ ]:
# 87. You cannot change the value of a global variable just by mentioning it inside a function

string = "string"


def do_nothing():
    string = "inside a method"


do_nothing()

print(string)  # string

# You need to use the access modifier global as well:
string = "string"


def do_nothing():
    global string
    string = "inside a method"


do_nothing()

print(string)  # inside a method

string
inside a method

In [ ]:
# 88. Count the number of elements in a string or list using Counter from “collections”
from collections import Counter

result = Counter("Banana")
print(result)  # Counter({'a': 3, 'n': 2, 'B': 1})


result = Counter([1, 2, 1, 3, 1, 4, 1, 5, 1, 6])
print(result)  # Counter({1: 5, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1})

Counter({'a': 3, 'n': 2, 'B': 1})
Counter({1: 5, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1})

In [ ]:
# 89. Check if 2 strings are anagrams using Counter

from collections import Counter


def check_if_anagram(first_string, second_string):
    first_string = first_string.lower()
    second_string = second_string.lower()
    return Counter(first_string) == Counter(second_string)


print(check_if_anagram('testinG', 'Testing'))  # True
print(check_if_anagram('Here', 'Rehe'))  # True
print(check_if_anagram('Know', 'Now'))  # False

True
True
False

In [ ]:
# 90. Count the number of elements using “count” from “itertools”
from itertools import count

my_vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

current_counter = count()

string = "This is just a sentence."

for i in string:
    if i in my_vowels:
        print(f"Current vowel: {i}")
        print(f"Number of vowels found so far: {next(current_counter)}")

Current vowel: i
Number of vowels found so far: 0
Current vowel: i
Number of vowels found so far: 1
Current vowel: u
Number of vowels found so far: 2
Current vowel: a
Number of vowels found so far: 3
Current vowel: e
Number of vowels found so far: 4
Current vowel: e
Number of vowels found so far: 5
Current vowel: e
Number of vowels found so far: 6

In [ ]:
# 91. Sort elements of a string or list based on their frequency
from collections import Counter

result = Counter([1, 2, 3, 2, 2, 2, 2])
print(result)  # Counter({2: 5, 1: 1, 3: 1})
print(result.most_common())  # [(2, 5), (1, 1), (3, 1)]

Counter({2: 5, 1: 1, 3: 1})
[(2, 5), (1, 1), (3, 1)]

In [ ]:
# 92. Find the most frequent element in a list in just one line

my_list = ['1', 1, 0, 'a', 'b', 2, 'a', 'c', 'a']

print(max(set(my_list), key=my_list.count))  # a

a

In [ ]:
# 93. Difference between copy() and deepcopy()

# A shallow copy means constructing a new collection object and then populating it with references to the child objects found in the original.
# In essence, a shallow copy is only one level deep.
# The copying process does not recurse and therefore won’t create copies of the child objects themselves.
# A deep copy makes the copying process recursive.
# It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original.
# Copying an object this way walks the whole object tree to create a fully independent clone of the original object and all of its children.

first_list = [[1, 2, 3], ['a', 'b', 'c']]

second_list = first_list.copy()

first_list[0][2] = 831

print(first_list)  # [[1, 2, 831], ['a', 'b', 'c']]
print(second_list)  # [[1, 2, 831], ['a', 'b', 'c']]

import copy

first_list = [[1, 2, 3], ['a', 'b', 'c']]

second_list = copy.deepcopy(first_list)

first_list[0][2] = 831

print(first_list)  # [[1, 2, 831], ['a', 'b', 'c']]
print(second_list)  # [[1, 2, 3], ['a', 'b', 'c']]

[[1, 2, 831], ['a', 'b', 'c']]
[[1, 2, 831], ['a', 'b', 'c']]
[[1, 2, 831], ['a', 'b', 'c']]
[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
# 94. You can avoid throwing errors when trying to access a non-existent key in a dictionary
# my_dictionary = {"name": "Name", "surname": "Surname"}
# print(my_dictionary["age"])

from collections import defaultdict

my_dictonary = defaultdict(str)
my_dictonary['name'] = "Name"
my_dictonary['surname'] = "Surname"

print(my_dictonary["age"])

In [ ]:
# 95. You can build your own iterator


class OddNumbers:
    def __iter__(self):
        self.a = 1
        return self

    def __next__(self):
        x = self.a
        self.a += 2
        return x


odd_numbers_object = OddNumbers()
iterator = iter(odd_numbers_object)

print(next(iterator))  # 1
print(next(iterator))  # 3
print(next(iterator))  # 5

1
3
5

In [ ]:
# 96. You can remove duplicates from a list in a single line

my_set = set([1, 2, 1, 2, 3, 4, 5])
print(list(my_set))  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
# 97. Print the place where a module is located

# import torch

# print(torch)  # <module 'torch' from '/Users/...'

In [ ]:
# 98. You can check whether a value is not part of a list using “not in”
odd_numbers = [1, 3, 5, 7, 9]
even_numbers = []

for i in range(9):
    if i not in odd_numbers:
        even_numbers.append(i)

print(even_numbers)  # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [ ]:
# 99. Difference between sort() and sorted()
# sort() sorts the original list.
# sorted() returns a new sorted list.
groceries = ['milk', 'bread', 'tea']

new_groceries = sorted(groceries)
# new_groceries = ['bread', 'milk', 'tea']

print(new_groceries)

# groceries = ['milk', 'bread', 'tea']
print(groceries)

groceries.sort()

# groceries = ['bread', 'milk', 'tea']
print(groceries)

['bread', 'milk', 'tea']
['milk', 'bread', 'tea']
['bread', 'milk', 'tea']

In [ ]:
# 100. Generate unique IDs using the uuid module
import uuid

# Generate a UUID from a host ID, sequence number, and the current time
print(uuid.uuid1())  # 308490b6-afe4-11eb-95f7-0c4de9a0c5af

# Generate a random UUID
print(uuid.uuid4())  # 93bc700b-253e-4081-a358-24b60591076a

3949d0e2-eb8b-11ec-93df-0242ac1c0002
ff8f538b-6124-4223-837e-2a859242f1e4