In [3]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split

%matplotlib inline
df = pd.read_csv('ex4.csv')
df.head(3)

   class  dept_id  sex      score
0      3        0    1  60.170169
1      3        5    1  86.610078
2      2        6    1  69.761279

In [6]:
df['sex'].mean()

0.5133333333333333

In [7]:
df.groupby('class').mean()['score']

class
0    68.850195
1    69.510764
2    71.611092
3    67.572909
4    68.814253
Name: score, dtype: float64